
body {
    background: rgb(231,231,231);
    padding: 0px;
    margin: 0px;
}

main{
    display: inline;
}

.navbar {
    display: inline-flex;
    background: rgb(195,99,99);
    height: 53px;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.navbar ul{
    list-style-type: none;
    margin: 0;    
    margin-right: 247.5px;
}

.navbar li{
    display: inline-flex;    
    text-emphasis-color: rgb;
}

.navbar li a {
    color: white; 
    padding: 17.5px 16px;
}

.loginButton {
    background: rgb(231, 231, 231);
    color: rgb(195, 99, 99);
    text-align: center;
    font: bold 12pt Tahoma;
    border: 0;
    width: 84px;
    height: 33px;
}

.registerButton {
    background: rgb(231, 231, 231);
    color: rgb(195, 99, 99);
    margin-left: 16px;
    text-align: center;
    font: bold 12pt Tahoma;
    border: 0;
    width: 140px;
    height: 33px;
}

.logo{
    
    margin: 7px;
    margin-left: 60px;
    text-align: center;
    color: rgb(231, 231, 231);
    font: 18pt Viner Hand ITC;
}

.recipe-area{
    position: relative;
    padding-top: 31px;
}

.recipe-area div{
    display: inline;
    background: rgb(245, 245, 245);
}

.recipe-area div div {
    display: flex;
}

.recipe-area div div img{
    margin: 6px;
}

form {
    display: inline-block;
    /*background: rgb(177, 115, 91);*/
    padding-left: 17px;
    padding-right: 30px;
}

.calory-value{
    width: 67px;
    height: 19px;
    border-width: 1pt;
    border-color: rgb(161, 161, 161);
    border-radius: 3.5px;
}

.single-text-field{
    height: 22px;
    width: 142px;
    border-width: 1pt;
    border-color: rgb(161, 161, 161);
    border-radius: 3.5px;
}

.button-div{
    text-align: center;
}

main{
    display: flexbox;
}

.search-header{
    color: rgb(153, 153, 153);
    font: 12pt Tahoma;
    text-decoration: underline;
}

.form-active-elements{
    padding-left: 15px;
    color: rgb(153, 153, 153);
    font: 12pt Tahoma;
}

.search-button{
    width: 140px;
    height: 33px;
    border-radius: 0px;
    border-width: 0px;
    color:rgb(153, 153, 153);
    font: 12pt Tahoma;
}

.main-content{
    display: flex;
    justify-content: center;
    padding-right: 15%;
}

footer div{
    display: inline;
    color: rgb(153, 153, 153);
}

footer{
    text-align: center;
    font: 12pt Tahoma;
}

footer div{
    background: rgb(255, 255, 255);
}

.copyright{
    padding-right: 1%;
    padding-left: 13.99%;
}

.dev-info{
    text-decoration: underline;
    padding-left: 1%;
    padding-right: 13.99%;
}

.recipe-image{
    box-shadow: 5px 5px 5px grey;
}

.recipe-area div div div .recipe-name1{
    position: absolute;
    top: 45px;
    left: 15px;
    background: transparent;
}

.recipe-area div div div .recipe-name2{
    position: absolute;
    top: 45px;
    left: 301px;
    background: transparent;
}

.recipe-area div div div .recipe-name3{
    position: absolute;
    top: 45px;
    left: 587px;
    background: transparent;
}

.recipe-area div div div .recipe-name4{
    position: absolute;
    top: 365px;
    left: 15px;
    background: transparent;
}

.recipe-area div div div .recipe-name5{
    position: absolute;
    top: 365px;
    left: 301px;
    background: transparent;
}

.recipe-area div div div .recipe-name6{
    position: absolute;
    top: 365px;
    left: 587px;
    background: transparent;
}

.recipe-area{
    font: 16.57pt Source Code Pro;
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 4px #000000;
}